<div class="banner">
    <ul>
        <li style="background-image:url('http://imgcdn.ph.126.net/cXzQdDZ3gHLUmXZUYD4xgg==/6597830628703461342.jpg')">This is a slide.</li>
        <li>This is another slide.</li>
        <li>This is a final slide.</li>
    </ul>
</div>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.js"></script>
<script>
$(function() {
    $('.banner').unslider();
});
</script>
