<% provide(:title, "传播知识，传播文化") %>
<div class="container">
    <% if @articles %>
		  <ol class="articles">
		  	<%= render @articles %>
		  </ol>
		  
		<% end %>
   <%= will_paginate @articles %>
</div>