<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>欢迎来到传播者，http://printing.herokuapp.com, <%= @user.name %></h1>
    <p>
      恭喜你，注册成功！希望本站能对你有所帮助。
      你的用户名: <%= @user.name %>.<br/>
    </p>
    <p>
      你可以通过此网址登录: <%= @url %>.
    </p>
    <p>再次感谢你的注册，祝愿你有美好的一天!</p>
  </body>
</html>