<% provide(:title,@schoolnews.title) %>
<div>
    <h4><%= @schoolnews.title %></h4>
    <ul class="inline">
        <li>
        
            Posted by <%= link_to @schoolnews.user.name, user_path(@schoolnews.user.id),:id => "post_user", :target => '_blank' %>
        
        </li>
        <% if @schoolnews.site? %>
            <li><h6><a href="<%= @schoolnews.site %>">查看原文</a></h6></li>

        <% end %>
    </ul>
    <p><%= @schoolnews.content %></p>
</div>

<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyqJ2HyrW',
    conf = 'prod_78b9cab19959e4af8ff46156ee460c74';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
    window.SCS_NO_IFRAME = true;
  })()
</script>