<footer class="footer container ">

  <nav>
    <en class="pull-left">传播者：致力于提供最前沿的资讯</en>
    <ul >
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
      <li><a href="http://chuanbozhe.farbox.com/" target="_blank">传播者博客</a></li>
    </ul>
  </nav>

</footer>